<div class="container-fluid mt-5">
  <div class="card card-default">
    <div class="card-header">
      <h3>Vous avez oublié votre mot de passe ?</h3>
    </div>
    <div class="card-body">
      <div>
        <p>Veuillez renseigné votre addresse mail.</p>
        <p>Si vous avez un compte, vous recevrez votre mot de passe par mail</p>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Envoyer</button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>

