<div class="col-md-8 offset-md-1 mt-5">
  <div class="card">
    <h4 class="card-header">
      Détails de la page : {{ ip.title }} <strong></strong>
    </h4>
    <table class="table table-striped">
      <tbody *ngIf="ip; else noip">
        <tr>
          <th class="col-md-3">Id Interne</th>
          <td>{{ ip.id }}</td>
        </tr>
        <tr>
          <th>Date de création</th>
          <td>{{ ip.creationDate }}</td>
        </tr>
        <tr>
          <th>Url</th>
          <td>{{ ip.url }}</td>
        </tr>
        <tr>
          <th>Référence</th>
          <td>{{ ip.reference }}</td>
        </tr>
        <tr>
          <th>Durée</th>
          <td>{{ ip.duration }}</td>
        </tr>
        <tr>
          <th>Prix</th>
          <td>{{ ip.price }}</td>
        </tr>
        <tr>
          <th>Taxes incluses</th>
          <td>{{ ip.taxesIncluded }}</td>
        </tr>
        <tr>
          <th>Pré-requis</th>
          <td>{{ ip.prerequisites }}</td>
        </tr>
        <tr>
          <th>Audience</th>
          <td>{{ ip.audience }}</td>
        </tr>
        <tr>
          <th>Certification</th>
          <td>{{ ip.certification }}</td>
        </tr>
        <tr>
          <th>Eligible CPF</th>
          <td>{{ ip.eligibleForCPF }}</td>
        </tr>
        <tr>
          <th>Objectifs</th>
          <td>{{ ip.objectives }}</td>
        </tr>
        <tr>
          <th>Programme</th>
          <td [innerHTML]="ip.trainingProgram"></td>
        </tr>
      </tbody>
    </table>
    <ng-template #noip><span class="text-danger"></span></ng-template>
    <a (click)="goBack()" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Retour à la liste
    </a>
  </div>
</div>
